* {
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
  height: 80px;
  background-color: rgb(16, 16, 133);
  position: fixed;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

ul {
  position: relative;
  left: 400px;
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
}

ul a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

ul li {
  margin: 30px;
  list-style: none;
  height: 40px;
  padding: 20px;
}

ul li:hover {
  background-color: rgb(9, 9, 97);
  height: 40px;
  padding: 20px;
}

.info {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(88, 88, 146);
}

h1 {
  color: black;
  font-size: 70px;
}

.info p {
  font-size: 40px;
  font-style: italic;
}

.content {
  height: 200vh;
  width: 100%;
  background-color: rgba(66, 75, 80, 0.781);
}

.project-tile {
  width: 400px;
  height: 400px;
  background-color: white;
  margin: 20px;
}

.project-tile a {
  color: white;
}

p span {
  visibility: hidden;
}

p span:hover {
  visibility: visible;
}

img {
  width: 383px;
  height: 400px;
}

.content p {
  width: 383px;
  height: 60px;
  position: relative;
  bottom: 65px;
  cursor: pointer;
  background-color: rgb(41, 41, 56);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  font-weight: 600;
}

.footer {
  width: 100%;
  height: 110vh;
  background-color: rgb(41, 41, 56);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  width: 100%;
  height: 100px;
  text-decoration: underline;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer h2 {
  width: 100%;
  height: 200px;
  font-size: 65px;
  color: white;
}

.footer p {
  color: white;
  font-size: 25px;
}

.footer div {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .social-media a {
  margin: 20px;
  font-size: 25px;
  text-decoration: none;
  color: white;
}

.footer .portfolio p .footer .portfolio a {
  color: white;
  font-size: 20px;
  margin-right: 100px;
}

.footer .social-media a:hover {
  position: relative;
  top: 10px;
}

.column-one-project .column-two-project {
  width: 100%;
  height: 400px;
  display: flex;
  margin-top: 30px;
}

.click-show button {
  width: 150px;
  height: 50px;
  background-color: rgb(41, 41, 56);
  color: white;
  font-size: larger;
  border: none;
  margin: 60px;
  position: relative;
  left: 40%;
  z-index: 1;
  cursor: pointer;
  border-radius: 5px;

}

.click-show button:hover {
  background-color: rgb(16, 16, 133);
}

.footer .portfolio {
  width: 100%;
  height: 200px;
  display: flex;
  background-color: rgb(41, 41, 56);
  border-top: 10px solid purple;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .header ul {
    position: static;
    left: auto;
    flex-direction: column;
    align-items: center;
  }

  .header li {
    margin: 10px;
  }
}
